<div class="bubble-left-block">
    <div class="bubble bubble-important bubble-medicine">
      <p>Here are the informations I found about this drug :</p>
      <p>Name : <%= truemedicine.lot.name %></p>
      <p>Country of sale : <%= truemedicine.country_of_sale %></p>
      <p>Expiracy date : <%= truemedicine.expiration_date %></p>
      <p>Description : <%= truemedicine.lot.rcp_description %></p>
      <p>Laboratory : <%= truemedicine.lot.laboratory %></p>
      <%= image_tag truemedicine.lot.picture_url, class: "bubble-medicine-picture"%>
    </div>
  </div>
